.Directory {
    .Wrapper {
        height: 100vh;
        width: 100vw;
        margin: 16px;
        overflow-y: scroll;

        .VideoWrapper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            display: flex;
            justify-content: center;
            align-content: center;

            pointer-events: none;

            video {
                width: 80vw;
                height: 80vh;
                opacity: .14;
                border-radius: 8px;
                overflow: hidden;
                object-fit: cover;
                align-self: center;
            }
        }

        .Welcome {
            position: relative;
            transform: translate3d(0, 0, 0);
            transition: transform, opacity, cubic-bezier(0.61, 1, 0.88, 1) .2s;
            margin-top: 20vh;

            .Accent {
                width: 30px;
                height: 2px;
                background-color: var(--colorCocoaLight);
            }
        }

        .SearchContainer {
            transform: translate3d(0, 0, 0);
            transition: transform cubic-bezier(0.61, 1, 0.88, 1) .2s;
        }

        &[data-searchmode="true"] {
            .Welcome {
                opacity: .3;
                transform: translateY(-10vh) scale(.95);
            }

            .SearchContainer {
                transform: translateY(-16vh);
            }
        }

        .CategoryHotlinksContainer {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            margin-top: 10px;

            scroll-snap-type: x mandatory;

            &[data-active="true"] {
                display: none;
            }


            animation: categoryBuildIn cubic-bezier(0.61, 1, 0.88, 1) .2s;


            @keyframes categoryBuildIn {
                from {
                    opacity: 0;
                    transform: translateY(30px);
                }

                to {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }

            span {
                scroll-snap-align: start;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--colorDarkGray);
                border-radius: 6px;
                margin: 4px;
                padding: 12px;
                min-width: 110px;
                font-size: 12px;
                color: var(--colorCocoaLight);
                border: 1px rgba(0, 0, 0, .3);
                word-break: break-all;

            }
        }
    }
}